# dependencies
node_modules/
.npm-cache/
docs
# build output
dist/
out/
.next/
.turbo/
.vercel/
coverage/
playwright-report/
test-results/
*.tsbuildinfo

# env files
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# local/editor
.vscode/
.idea/
.DS_Store
Thumbs.db
